@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --primary: #ff651c;
  --dark: #041122;
  --pure: #ffffff;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section {
  padding: 100px 0px;
}
body {
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}
html {
  scroll-behavior: smooth;
}
nav#topBar {
  background: transparent;
  position: fixed;
  top: 0px;
  padding: 5px 0px;
  left: 0px;
  width: 100%;
  transition: all 0.5s ease 0s;
  z-index: 999;
}
.navActive {
  padding: 0px !important;
  background: var(--pure) !important;
  box-shadow: rgb(129, 129, 129) 0px 1px 11px !important;
}
.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.barWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.logo {
  width: 250px;
  transition: all 0.5s ease 0s;
}
.activeLogo {
  width: 220px !important;
}
ul#mianMenuItem {
  display: flex;
}
ul#mianMenuItem li a {
  padding: 0px 20px;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  color: var(--dark);
  transition: all 0.3s ease 0s;
  position: relative;
}
ul#mianMenuItem li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transform: translateX(-50%);
  transition: all 0.5s ease 0s;
}
ul#mianMenuItem li a:hover::after {
  width: 70% !important;
}
ul#mianMenuItem li a:hover {
  color: var(--primary);
}
#homeSlider {
  background-image: url("../img/slide/slide.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px !important;
}
.slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0px;
}
#firstP {
  font-size: 20px;
  color: rgb(221, 221, 221);
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 80px;
}
.leftContent p {
  font-size: 17px;
  color: rgb(51, 51, 51);
  font-weight: 400;
  line-height: 28px;
}
.leftContent h2 {
  font-size: 35px;
}
.leftContent h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 5px 0px;
}
.leftContent {
  width: 50%;
}
#typing {
  position: relative;
  color: var(--primary);
}
#typing::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--primary);
  animation: 0.5s ease 0s infinite normal none running typing;
}
@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.leftContent {
  width: 50%;
}
.leftContent button {
  padding: 10px 37px;
  border-radius: 50px;
  margin: 20px 15px 0px 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
}
.rightImg {
  width: 50%;
  margin-top: 50px;
}
.hire {
  background: var(--primary);
  color: var(--pure);
  border: 2px dashed var(--primary);
}
.hire:hover {
  color: var(--primary);
  background: transparent;
  border: 2px dashed var(--primary);
}
.learn {
  color: var(--primary);
  border: 2px solid var(--pure);
}
.learn:hover {
  background: var(--primary);
  color: var(--pure);
}
section#about {
  background-image: url("../img/about/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.aboutWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.leftAbout {
  width: 30%;
}
.rightAbout {
  width: 65%;
}
.rightAbout h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 15px;
}
.rightAbout h2 span {
  color: var(--primary);
}
.rightAbout p {
  font-size: 16px;
  line-height: 29px;
  color: rgb(102, 102, 102);
  margin-bottom: 30px;
}
.rightAbout a {
  width: 100px;
  background: var(--primary);
  color: var(--pure);
  padding: 13px 25px;
  border-radius: 8px;
  font-weight: 400;
}
.secTitle {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.secTitle h2 {
  color: var(--primary);
  position: relative;
}
.secTitle h2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 3px;
  background: var(--primary);
  display: block;
}
.secTitle h2::after {
  content: "";
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* section#service {
  background-image: url("../img/service/exp-bg.png");
  background-position: left;
  background-repeat: no-repeat;
} */
.serviceWrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-flow: row wrap;
  margin-bottom: -25px;
}
.singleService {
  width: 23%;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  height: 240px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  position: relative;
  z-index: 0;
}
.singleService::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--primary);
  z-index: -1;
  transition: all 0.3s linear 0s;
  clip-path: circle(28% at 5% 0%);
  border-radius: 10px;
}
.singleService:hover::before {
  clip-path: circle(100% at 50% 50%);
}
.singleService:hover {
  cursor: pointer;
}

.singleService:hover i {
  background: orange;
}

.singleService:hover * {
  color: var(--pure);
}
.singleService i {
  width: 24%;
  height: 26%;
  background: rgb(223 223 223);
  margin: 10px auto auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 900;
}
.singleService h2 {
  font-size: 21px;
  margin: 15px 0px;
}
.singleService p {
  font-size: 15px;
  line-height: 20px;
  color: rgb(51, 51, 51);
  font-family: poppins;
  font-weight: 400;
}
#number {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 25px;
  color: var(--pure);
}
section#pricing {
  background: rgb(255, 255, 255);
}
.pricingWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.singlePrice {
  width: 30%;
  background: var(--pure);
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgb(213, 213, 213) 0px 1px 11px;
  height: 500px;
}
.cornerPrice {
  position: relative;
  top: -44px;
  right: -211px;
  background: var(--primary);
  width: 65px;
  height: 100px;
  padding-top: 10px;
  text-align: center;
  color: var(--pure) !important;
}
.cornerPrice::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--pure);
  clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
  left: 0px;
  bottom: -1px;
}
.cornerPrice::before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  left: -13px;
  top: 0px;
  background: var(--primary);
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}
.cornerPrice h5 {
  font-size: 16px;
  color: var(--pure) !important;
}
.cornerPrice p {
  font-size: 13px;
  font-family: Poppins;
  font-weight: 400;
  margin-top: -10px;
}
.cornerPrice h5 span {
  font-size: 30px;
}
.priceImg {
  width: 35px;
  height: 35px;
  background: rgb(221, 221, 221);
  padding: 5px;
  border-radius: 50%;
  margin-top: -100px;
}
.singlePrice h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(68, 68, 68);
  margin-top: 20px;
}
.singlePrice h1 {
  font-size: 25px;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 15px;
}
.singlePrice ul li {
  line-height: 40px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  color: rgb(68, 68, 68);
}
.singlePrice ul li i {
  color: var(--primary);
  margin-right: 5px;
  font-weight: 900;
}
.singlePrice button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: var(--primary);
  color: var(--pure);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  margin-top: 50px;
  cursor: pointer;
}
.singlePrice:first-child button {
  margin-top: 90px;
}

/* styling recent work */
section#recentProject {
  background: #eee;
}

.projectWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.singleProject {
  width: 31%;
  margin-bottom: 40px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  background: white;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.singleProject:hover {
  cursor: pointer;
}

.projectImg {
  background: var(--dark);
  border-radius: 10px;
  padding: 6px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.singleProject:hover {
  margin-top: -10px;
}

.projectContent h2 {
  color: var(--dark);
  font-size: 18px;
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: 500;
}

.projectContent a {
  background: #cbcbcb;
  width: 130px;
  color: var(--primary);
  padding: 6px 14px;
  display: block;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: 400;
  transition: 0.3s ease;
}

.projectContent a:hover {
  background: var(--primary);
  color: var(--pure);
  cursor: pointer;
}

.projectImg img {
  border-radius: 10px;
}
/* styling contact info */
